<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfIvWOUUhP9P3V33x_ibp_YRLQq_m-BB4</string>
	<key>GCM_SENDER_ID</key>
	<string>396436559416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.zanie.greenglide</string>
	<key>PROJECT_ID</key>
	<string>greenglidee</string>
	<key>STORAGE_BUCKET</key>
	<string>greenglidee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396436559416:ios:74c1e136495259fdef78cd</string>
</dict>
</plist>